/* Agence */

#agence {
    display: flex;
    justify-content: center;
}

.agence-container {
    width: 40%;
}

.container-localisation {
    display: flex;
    padding-top: 0px;
    margin-bottom: 40px;
}

.container-team {
    display: flex;
}

#agence .h2-poiretOne-blue {
    width: 45%;
    height: 100%;
    margin-right: 5%;
    text-align: right;
    margin-top: 0;
}
.container p {
    margin: 0;
}
.vertical-line {
    width: 65%;
    height: 1px;
    background-color: var(--golden-color);
    margin-top: 15px;
    margin-left: auto;
}

#agence p {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 5%;
    line-height: 24px;
}

.container-button {
    display: flex;
    justify-content: flex-end;
}

#agence button {
    width: 50%;
}

/* tablette */

@media (min-width: 768px) and (max-width: 1024px) {
    .agence-container {
        width: 70%;
    }
}

/* mobile */

@media (max-width: 768px) {
    .agence-container {
        width: 90%;
    }

    #agence .h2-poiretOne-blue {
        width: 100%;
        text-align: left;
    }

    .container-localisation {
        flex-direction: column;
    }

    .container-team {
        flex-direction: column;
    }

    #agence p {
        width: 100%;
    }

    #agence button {
        width: 100%;
    }

    .vertical-line {
        margin-left: 0;
    }
}