/* HEADER */

header {
    background-color: white;
}

#navbar {
    height: 100px;
    width: 100%;
    display: flex;
}

#navbar .logo {
    height: 100%;
    cursor: pointer;
}

#navbar nav {
    display: flex;
    width: 100%;
    justify-items: center;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: var(--primary-color);
    width: 100%;
    padding: 0px;
    margin: 20px 100px;
    cursor: pointer;
}

#navbar li {
    list-style: none;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#navbar a {
    color: var(--primary-color);
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

.mobile-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.mobile-nav .logo {
    height: 80px;
}

.container-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (min-width: 769px) and (max-width: 1920px) {
    .mobile-nav {
        display: none;
    }

}

/* tablette */

@media (min-width: 768px) and (max-width: 1024px) {
    #navbar li {
        font-size: 16px;
        transition: font-size 0.5s ease-in-out;
    }

    #navbar ul {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
        transition: all 0.5s ease-in-out;
    }
}

/* mobile */

@media (max-width: 768px) {

    #dekstop-nav {
        display: none;
    }
}

#navigation {
    background-color: white;
}

.bandeau-bleu-burger {
    background-color: var(--primary-color);
    height: 10px;
    width: 100%;
}

#navigation ul {
    list-style: none;
    background-color: white;
    height: 80dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#navigation ul li a {
    background-color: rgb(252, 247, 248);
    text-decoration: none;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: var(--primary-color);
}

#navigation ul li a:hover {
    text-decoration: underline;
}

/* herosection */

#herosection {
    position: relative;
    width: 100%;
}

#herosection figure {
    margin: 0;
}

#herosection .agence {
    width: 1940px;
    height: auto;
    object-fit: cover;
}

#herosection .encart {
    background-color: rgba(217, 217, 217, 0.65);
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.encart p {
    width: 75%;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.encart button {
    width: 75%;
}

.play-button {
    display: none;
    background-color: aqua;
    width: 30%;
}

/* tablette */

@media (min-width: 768px) and (max-width: 1024px) {
    .encart p {
        font-size: 24px;

    }


}

/* mobile */

@media (max-width: 768px) {
    .encart p {
        font-size: 16px;
    }

    .encart .white-button {
        /* display: none; */
    }

    .encart .play-button {
        background-color: aquamarine;
        width: 20px;
    }
}