/* HEADER */

header {
    background-color: var(--secondary-color);
}

#header-herosection {
    height: 100vh;
    background-color: coral;
}

#navbar {
    height: 10vh;
    width: 100%;
    display: flex;
}

#navbar .logo {
    height: 100%;
    cursor: pointer;
}

#navbar nav {
    display: flex;
    width: 100%;
    justify-items: center;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 100%;
    padding: 0px;
    margin: 20px 100px;
    cursor: pointer;
}

#navbar li {
    list-style: none;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
}

#navbar a {
    /* color: var(--secondary-color); */
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

#navbar a:hover {
    text-decoration: underline;
}

.mobile-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.mobile-nav .logo {
    height: 80px;
}

.container-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (min-width: 769px) and (max-width: 1920px) {
    .mobile-nav {
        display: none;
    }
}

/* tablette */

@media (min-width: 768px) and (max-width: 1024px) {
    #navbar li {
        font-size: 16px;
        transition: font-size 0.5s ease-in-out;
    }

    #navbar ul {
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
        transition: all 0.5s ease-in-out;
    }
}

/* mobile */

@media (max-width: 768px) {

    #dekstop-nav {
        display: none;
    }
}

#navigation {
    background-color: white;
}

#navigation ul {
    list-style: none;
    background-color: white;
    height: 90dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
}

#navigation ul li a {
    text-decoration: none;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: var(--primary-color);
}