/* VARIABLES */

:root {
    /* couleurs */
    --primary-color: #004F59;
    --secondary-color: #FEFFF9;
    --golden-color: #D5C7A0;
    --black-color: #000000;
    /* polices */
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Poiret One', cursive;
}

/* PAGE */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: var(--font-primary);
}

img {
    max-width: 100%;
    height: auto;
}

/* classes récurrentes */
.bandeau1 {
    height: 100px;
    background-color: #FEFFF9;
}

.bandeau2 {
    height: 150px;
    background-color: #FEFFF9;
}

.h2-poiretOne-blue {
    font-family: var(--font-secondary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}

.h2-poiretOne-white {
    font-family: var(--font-secondary);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}

.blue-button {
    height: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.white-button {
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--primarary-color);
    border-color: var(--primary-color);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* MAIN */

main {
    background-color: darkorchid;
    margin: 0;
    padding: 0;
}