/* Réalisations */

#realisations {
    background-color: aqua;
    width: 100vw;
}
.container-texte {
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#realisations h1 {
    background-color: rgb(122, 106, 72);
    font-family: var(--font-secondary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 40px;
    width: 85%;
    margin-bottom: 10px;
}

#realisations p {
    background-color: darkorange;
    font-family: var(--font-secondary);
    color: var(--primary-color);
    font-style: italic;
    width: 85%;
    margin-bottom: 30px;
}

.container-slider {
    background-color: coral;
    display: flex;
    justify-content: center;

}

.multiple-items {
    width: 65%;
}

/* Style du slider */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--primary-color);
    font-size: 2rem;
}