/* Tendances */

#tendances {
    width: 100%;
    display: flex;
    justify-content: center;
}

#tendances figure {
    margin: 0;
    padding-top: 0;
}

.img-tendances img {
    width: 100%;
}

.tendances-container {
    width: 40%;
}

.paragraphe-tendances {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

.paragraphe-newsletter {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.texte-button-container {
    width: 50%;
}

#tendances img {
    margin-bottom: 30px;
}

#tendances h2 {
    width: 45%;
    margin-right: 5%;
    margin-top: 0;
}

#tendances .vertical-line {
    margin-left: 0;
}

#tendances p {
    width: 100%;
    margin-top: 0;
    line-height: 24px;
}

#tendances button {
    width: 100%;
}

/* tablette */

@media (min-width: 768px) and (max-width: 1024px) {
    .tendances-container {
        width: 70%;
    }
}

/* mobile */

@media (max-width: 768px) {
    .tendances-container {
        width: 90%;
    }

    .paragraphe-tendances {
        flex-direction: column;
    }

    .paragraphe-newsletter {
        flex-direction: column;
    }

    #tendances h2 {
        width: 100%;
    }

    .texte-button-container {
        width: 100%;
    }
}